BepInEx/config/Azumatt.AzuExtendedPlayerInventory.cfg merge=ours
BepInEx/config/org.bepinex.plugins.darwinawards.cfg merge=ours
BepInEx/config/org.bepinex.plugins.groups.cfg merge=ours
BepInEx/config/Searica.Valheim.DodgeShortcut.cfg merge=ours
