MonoBleedingEdge
scratch
valheim_Data/Managed
valheim_Data/Plugins
valheim_Data/Resources
valheim_Data/StreamingAssets
valheim_Data/*.assets
valheim_Data/globalgamemanagers
valheim_Data/level*
valheim_Data/*.info
valheim_Data/*.json
valheim_Data/*.resource
valheim_Data/*.resS
steam_appid.txt
UnityCrashHandler64.exe
UnityPlayer.dll
valheim.exe
BepInEx/Debug
BepInEx/DumpedAssemblies
BepInEx/LogOutput.log
BepInEx/cache
BepInEx/plugins/CLIENT_SIDE_DEV_ONLY
BepInEx/config/wackyDatabase-BulkYML_vanilla
BepInEx/config/wackyDatabase-BulkYML_savheimIII
BepInEx/config/Azumatt.AzuExtendedPlayerInventory.cfg
BepInEx/config/org.bepinex.plugins.darwinawards.cfg
BepInEx/config/org.bepinex.plugins.groups.cfg
BepInEx/config/com.maxsch.valheim.vnei.favourites.txt
