## Settings file was created by plugin DurabilityTweaks v1.0.6
## Plugin GUID: Azumatt.DurabilityTweaks

[Durability]

## Torch durability drain over time. [Synced with Server]
# Setting type: Single
# Default value: 0.033
TorchDurabilityDrain = 0.01

## Torch durability loss when used to attack. [Synced with Server]
# Setting type: Single
# Default value: 1
TorchDurabilityLoss = 0.5

## Weapon durability loss per use. [Synced with Server]
# Setting type: Single
# Default value: 1
WeaponDurabilityLoss = 0.5

## Bow durability loss per use. [Synced with Server]
# Setting type: Single
# Default value: 1
BowDurabilityLoss = 0.25

## Hammer durability loss per use. [Synced with Server]
# Setting type: Single
# Default value: 1
HammerDurabilityLoss = 0.25

## Hoe durability loss per use. [Synced with Server]
# Setting type: Single
# Default value: 1
HoeDurabilityLoss = 0.25

## Pickaxe durability loss per use. [Synced with Server]
# Setting type: Single
# Default value: 1
PickaxeDurabilityLoss = 0.5

## Axe durability loss per use. [Synced with Server]
# Setting type: Single
# Default value: 1
AxeDurabilityLoss = 0.5

## Other tool durability loss per use. [Synced with Server]
# Setting type: Single
# Default value: 1
ToolDurabilityLoss = 0.25

## Shield durability loss multiplier. [Synced with Server]
# Setting type: Single
# Default value: 1
ShieldDurabilityLossMult = 0.25

## Armor durability loss multiplier. [Synced with Server]
# Setting type: Single
# Default value: 1
ArmorDurabilityLossMult = 0.5

[General]

## Force Server Config [Synced with Server]
# Setting type: Boolean
# Default value: true
Force Server Config = true

## Enable this mod [Synced with Server]
# Setting type: Boolean
# Default value: true
Enabled = true

[Options]

## If true, durability loss is shared between all armor worn. [Synced with Server]
# Setting type: Boolean
# Default value: false
SharedArmorDurability = false

