## Settings file was created by plugin LimitWorkstationDiscovery v1.0.2
## Plugin GUID: Azumatt.LimitWorkstationDiscovery

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## The range in which the player can discover objects with the CraftingStation component. Default is 0 to force interaction with the object to learn it first. Vanilla default is 4 [Synced with Server]
# Setting type: Single
# Default value: 0
Discovery Range = 0

