## Settings file was created by plugin DvergerStaves v1.0.5
## Plugin GUID: blacks7ar.DvergerStaves

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[Dverger Staff (Fire)]

## Crafting station where Dverger Staff (Fire) is available.
# Setting type: CraftingTable
# Default value: MageTable
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = MageTable

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft Dverger Staff (Fire).
# Setting type: Int32
# Default value: 1
Crafting Station Level = 1

## Maximum crafting station level to upgrade and repair Dverger Staff (Fire).
# Setting type: Int32
# Default value: 4
Maximum Crafting Station Level = 4

## Whether only one of the ingredients is needed to craft Dverger Staff (Fire)
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Dverger Staff (Fire). Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Dverger Staff (Fire)
# Setting type: String
# Default value: TrophySurtling:5,BlackCore:5,YggdrasilWood:24,Eitr:36
Crafting Costs = TrophySurtling:5,BlackCore:5,YggdrasilWood:24,Eitr:36

## Item costs per level to upgrade Dverger Staff (Fire)
# Setting type: String
# Default value: Eitr:18,Softtissue:12,Mandible:12,YggdrasilWood:12
Upgrading Costs = Eitr:18,Softtissue:12,Mandible:12,YggdrasilWood:12

## Dverger Staff (Fire) drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Dverger Staff (Fire).
# Setting type: Single
# Default value: 0.3
Weight = 0.3

## Trader value of Dverger Staff (Fire).
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Durability of Dverger Staff (Fire).
# Setting type: Single
# Default value: 100
Durability = 100

## Durability gain per level of Dverger Staff (Fire).
# Setting type: Single
# Default value: 50
Durability per Level = 50

## Movement speed modifier of Dverger Staff (Fire).
# Setting type: Single
# Default value: -0.05
Movement Speed Modifier = -0.05

## Block armor of Dverger Staff (Fire).
# Setting type: Single
# Default value: 48
Block Armor = 48

## Block armor per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Block Armor per Level = 0

## Block force of Dverger Staff (Fire).
# Setting type: Single
# Default value: 20
Block Force = 20

## Block force per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Block Force per Level = 0

## Parry bonus of Dverger Staff (Fire).
# Setting type: Single
# Default value: 2
Parry Bonus = 2

## Eitr cost of Dverger Staff (Fire).
# Setting type: Single
# Default value: 35
Eitr Cost = 35

## Knockback of Dverger Staff (Fire).
# Setting type: Single
# Default value: 50
Knockback = 50

## Backstab bonus of Dverger Staff (Fire).
# Setting type: Single
# Default value: 4
Backstab Bonus = 4

## Attack stamina of Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Attack Stamina = 0

## True damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
True Damage = 0

## True damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
True Damage Per Level = 0

## Slash damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Slash Damage = 0

## Slash damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Slash Damage Per Level = 0

## Pierce damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Pierce Damage = 0

## Pierce damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Pierce Damage Per Level = 0

## Blunt damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Blunt Damage = 0

## Blunt damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Blunt Damage Per Level = 0

## Chop damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Chop Damage = 0

## Chop damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Chop Damage Per Level = 0

## Pickaxe damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Pickaxe Damage = 0

## Pickaxe damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Pickaxe Damage Per Level = 0

## Fire damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 120
Fire Damage = 120

## Fire damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 2
Fire Damage Per Level = 2

## Poison damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Poison Damage = 0

## Poison damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Poison Damage Per Level = 0

## Frost damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Frost Damage = 0

## Frost damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Frost Damage Per Level = 0

## Lightning damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Lightning Damage = 0

## Lightning damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Lightning Damage Per Level = 0

## Spirit damage dealt by Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Spirit Damage = 0

## Spirit damage dealt increase per level for Dverger Staff (Fire).
# Setting type: Single
# Default value: 0
Spirit Damage Per Level = 0

## Which traders sell Dverger Staff (Fire).
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Dverger Staff (Fire) at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Dverger Staff (Fire) in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Dverger Staff (Fire) at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Dverger Staff (Heal)]

## Crafting station where Dverger Staff (Heal) is available.
# Setting type: CraftingTable
# Default value: MageTable
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = MageTable

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft Dverger Staff (Heal).
# Setting type: Int32
# Default value: 1
Crafting Station Level = 1

## Maximum crafting station level to upgrade and repair Dverger Staff (Heal).
# Setting type: Int32
# Default value: 4
Maximum Crafting Station Level = 4

## Whether only one of the ingredients is needed to craft Dverger Staff (Heal)
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Dverger Staff (Heal). Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Dverger Staff (Heal)
# Setting type: String
# Default value: BlackCore:5,Softtissue:24,YggdrasilWood:24,Eitr:36
Crafting Costs = BlackCore:5,Softtissue:24,YggdrasilWood:24,Eitr:36

## Item costs per level to upgrade Dverger Staff (Heal)
# Setting type: String
# Default value: Eitr:18,Softtissue:12,Mandible:12,YggdrasilWood:12
Upgrading Costs = Eitr:18,Softtissue:12,Mandible:12,YggdrasilWood:12

## Dverger Staff (Heal) drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Dverger Staff (Heal).
# Setting type: Single
# Default value: 0.3
Weight = 0.3

## Trader value of Dverger Staff (Heal).
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Durability of Dverger Staff (Heal).
# Setting type: Single
# Default value: 100
Durability = 100

## Durability gain per level of Dverger Staff (Heal).
# Setting type: Single
# Default value: 50
Durability per Level = 50

## Movement speed modifier of Dverger Staff (Heal).
# Setting type: Single
# Default value: -0.05
Movement Speed Modifier = -0.05

## Block armor of Dverger Staff (Heal).
# Setting type: Single
# Default value: 48
Block Armor = 48

## Block armor per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Block Armor per Level = 0

## Block force of Dverger Staff (Heal).
# Setting type: Single
# Default value: 20
Block Force = 20

## Block force per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 5
Block Force per Level = 5

## Parry bonus of Dverger Staff (Heal).
# Setting type: Single
# Default value: 2
Parry Bonus = 2

## Health cost of Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Health Cost = 0

## Health cost percentage of Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Health Cost Percentage = 0

## Eitr cost of Dverger Staff (Heal).
# Setting type: Single
# Default value: 45
Eitr Cost = 45

## Knockback of Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Knockback = 0

## Backstab bonus of Dverger Staff (Heal).
# Setting type: Single
# Default value: 4
Backstab Bonus = 4

## Attack stamina of Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Attack Stamina = 0

## True damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
True Damage = 0

## True damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
True Damage Per Level = 0

## Slash damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Slash Damage = 0

## Slash damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Slash Damage Per Level = 0

## Pierce damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Pierce Damage = 0

## Pierce damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Pierce Damage Per Level = 0

## Blunt damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Blunt Damage = 0

## Blunt damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 2
Blunt Damage Per Level = 2

## Chop damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Chop Damage = 0

## Chop damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Chop Damage Per Level = 0

## Pickaxe damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Pickaxe Damage = 0

## Pickaxe damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Pickaxe Damage Per Level = 0

## Fire damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Fire Damage = 0

## Fire damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Fire Damage Per Level = 0

## Poison damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Poison Damage = 0

## Poison damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Poison Damage Per Level = 0

## Frost damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Frost Damage = 0

## Frost damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Frost Damage Per Level = 0

## Lightning damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Lightning Damage = 0

## Lightning damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Lightning Damage Per Level = 0

## Spirit damage dealt by Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Spirit Damage = 0

## Spirit damage dealt increase per level for Dverger Staff (Heal).
# Setting type: Single
# Default value: 0
Spirit Damage Per Level = 0

## Which traders sell Dverger Staff (Heal).
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Dverger Staff (Heal) at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Dverger Staff (Heal) in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Dverger Staff (Heal) at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Dverger Staff (Ice)]

## Crafting station where Dverger Staff (Ice) is available.
# Setting type: CraftingTable
# Default value: MageTable
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = MageTable

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft Dverger Staff (Ice).
# Setting type: Int32
# Default value: 1
Crafting Station Level = 1

## Maximum crafting station level to upgrade and repair Dverger Staff (Ice).
# Setting type: Int32
# Default value: 4
Maximum Crafting Station Level = 4

## Whether only one of the ingredients is needed to craft Dverger Staff (Ice)
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Dverger Staff (Ice). Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Dverger Staff (Ice)
# Setting type: String
# Default value: DragonTear:5,BlackCore:5,YggdrasilWood:24,Eitr:36
Crafting Costs = DragonTear:5,BlackCore:5,YggdrasilWood:24,Eitr:36

## Item costs per level to upgrade Dverger Staff (Ice)
# Setting type: String
# Default value: Eitr:18,Softtissue:12,Mandible:12,YggdrasilWood:12
Upgrading Costs = Eitr:18,Softtissue:12,Mandible:12,YggdrasilWood:12

## Dverger Staff (Ice) drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Dverger Staff (Ice).
# Setting type: Single
# Default value: 0.3
Weight = 0.3

## Trader value of Dverger Staff (Ice).
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Durability of Dverger Staff (Ice).
# Setting type: Single
# Default value: 100
Durability = 100

## Durability gain per level of Dverger Staff (Ice).
# Setting type: Single
# Default value: 50
Durability per Level = 50

## Movement speed modifier of Dverger Staff (Ice).
# Setting type: Single
# Default value: -0.05
Movement Speed Modifier = -0.05

## Block armor of Dverger Staff (Ice).
# Setting type: Single
# Default value: 48
Block Armor = 48

## Block armor per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Block Armor per Level = 0

## Block force of Dverger Staff (Ice).
# Setting type: Single
# Default value: 20
Block Force = 20

## Block force per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 5
Block Force per Level = 5

## Parry bonus of Dverger Staff (Ice).
# Setting type: Single
# Default value: 2
Parry Bonus = 2

## Eitr cost of Dverger Staff (Ice).
# Setting type: Single
# Default value: 35
Eitr Cost = 35

## Knockback of Dverger Staff (Ice).
# Setting type: Single
# Default value: 50
Knockback = 50

## Backstab bonus of Dverger Staff (Ice).
# Setting type: Single
# Default value: 4
Backstab Bonus = 4

## Attack stamina of Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Attack Stamina = 0

## True damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
True Damage = 0

## True damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
True Damage Per Level = 0

## Slash damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Slash Damage = 0

## Slash damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Slash Damage Per Level = 0

## Pierce damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Pierce Damage = 0

## Pierce damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Pierce Damage Per Level = 0

## Blunt damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Blunt Damage = 0

## Blunt damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Blunt Damage Per Level = 0

## Chop damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Chop Damage = 0

## Chop damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Chop Damage Per Level = 0

## Pickaxe damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Pickaxe Damage = 0

## Pickaxe damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Pickaxe Damage Per Level = 0

## Fire damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Fire Damage = 0

## Fire damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Fire Damage Per Level = 0

## Poison damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Poison Damage = 0

## Poison damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Poison Damage Per Level = 0

## Frost damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 120
Frost Damage = 120

## Frost damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 2
Frost Damage Per Level = 2

## Lightning damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Lightning Damage = 0

## Lightning damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Lightning Damage Per Level = 0

## Spirit damage dealt by Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Spirit Damage = 0

## Spirit damage dealt increase per level for Dverger Staff (Ice).
# Setting type: Single
# Default value: 0
Spirit Damage Per Level = 0

## Which traders sell Dverger Staff (Ice).
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Dverger Staff (Ice) at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Dverger Staff (Ice) in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Dverger Staff (Ice) at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

