## Settings file was created by plugin Waypoint v1.1.1
## Plugin GUID: blacks7ar.Waypoint

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2- General]

## No monster zone radius. [Synced with Server]
# Setting type: Single
# Default value: 5
# Acceptable value range: From 1 to 25
Safe Zone Radius = 5

## Waypoints fireplace max fuel. [Synced with Server]
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 10
Max Fuel = 5

## How long each fuel last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 300
# Acceptable value range: From 60 to 3600
Fuel Duration = 300

