## Settings file was created by plugin Husky v1.0.5
## Plugin GUID: blacks7ar.Husky

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[Bone Toy]

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount : amount per level (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BoneFragments:4:2
Required Material = BoneFragments:4:2

[Golden Horn]

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount : amount per level (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Bronze:4:1
Required Material 1 = Bronze:4:1

## Item name : amount : amount per level (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Flint:3:1
Required Material 2 = Flint:3:1

## Item name : amount : amount per level (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: SurtlingCore:1:0
Required Material 3 = SurtlingCore:1:0

[Odins Gift]

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Coins:100
Required Material 1 = Coins:100

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Amber:2
Required Material 2 = Amber:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: AmberPearl:2
Required Material 3 = AmberPearl:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Ruby:2
Required Material 4 = Ruby:2

