## Settings file was created by plugin Hotbar Switch v0.3.2
## Plugin GUID: cjayride.HotbarSwitch

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Rows of inventory to switch via hotkey
# Setting type: Int32
# Default value: 2
RowsToSwitch = 2

## Hotkey to initiate switch. Use https://docs.unity3d.com/Manual/ConventionalGameInput.html
# Setting type: String
# Default value: `
HotKey = `

