## Settings file was created by plugin NoDamageFlash v0.2.0
## Plugin GUID: com.orianaventure.mod.NoDamageFlash

[General]

## True to disable all damage flash, set to false to use other configs (boolean). [Not Synced with Server]
# Setting type: Boolean
# Default value: true
RemoveAllFlash = false

## True to disable damage flash from recieving damage (boolean). [Not Synced with Server]
# Setting type: Boolean
# Default value: false
RemoveDamageFlash = false

## True to disable damage flash from puking (boolean). [Not Synced with Server]
# Setting type: Boolean
# Default value: false
RemovePukeFlash = false

## True to disable damage flash from using blood magic weapons (boolean). [Not Synced with Server]
# Setting type: Boolean
# Default value: false
RemoveUseHealthFlash = true

