## Settings file was created by plugin HammerTime v0.3.9
## Plugin GUID: com.maxsch.valheim.HammerTime

[1 - General]

## Disables crafting recipes of custom hammers that are enabled in this mod. Only deactivates the recipes, existing items will not be removed. Can be changed at runtime.
# Setting type: Boolean
# Default value: true
Disable Hammer Recipes = true

[AlmanacClasses _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = AlmanacClasses

Category Name Misc = AlmanacClasses Misc

[CookingAdditions _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = CookingAdditions

Category Name Crafting = CookingAdditions Crafting

[CrystalLights _CrystalHammer_Table]

Enable Hammer = true

Combine Categories = false

Combined Category Name = CrystalLights

Category Name Misc = Gem Lights

[CustomShips _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = CustomShips

Category Name Ship = CustomShips Ship

[ElementalFalls PieceTable]

Enable Hammer = true

Combine Categories = true

Combined Category Name = ElementalFalls

Category Name Fall = ElementalFalls Fall

Category Name Geyser = ElementalFalls Geyser

Category Name Puddle = ElementalFalls Puddle

Category Name Sludge = ElementalFalls Sludge

Category Name River = ElementalFalls River

Category Name WaterWheel = ElementalFalls WaterWheel

[EpicMMOSystem _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = EpicMMOSystem

Category Name Crafting = EpicMMOSystem Crafting

[HoneyPlus _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = HoneyPlus

Category Name Crafting = HoneyPlus Crafting

[Jewelcrafting _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Jewelcrafting

Category Name Crafting = Jewelcrafting Crafting

[MarketStall _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MarketStall

Category Name Misc = MarketStall Misc

[PortalStations _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = PortalStations

Category Name Misc = PortalStations Misc

[RuneMagic _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

[RuneMagic _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

Category Name Crafting = RuneMagic Crafting

Category Name BuildingWorkbench = RuneMagic BuildingWorkbench

[SimpleElevators _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = SimpleElevators

Category Name SimpleElevators = SimpleElevators SimpleElevators

[Soulcatcher _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Soulcatcher

Category Name BuildingStonecutter = Soulcatcher BuildingStonecutter

Category Name Crafting = Soulcatcher Crafting

[Valheim Enchantment System _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Valheim Enchantment System

Category Name Crafting = Valheim Enchantment System Crafting

[Vanilla _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name Misc = Misc

Category Name Crafting = Crafting

Category Name BuildingWorkbench = BuildingWorkbench

Category Name BuildingStonecutter = BuildingStonecutter

Category Name Furniture = Furniture

[Vanilla _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name BuildingStonecutter = BuildingStonecutter

