## Settings file was created by plugin HammerTime v0.3.9
## Plugin GUID: com.maxsch.valheim.HammerTime

[1 - General]

## Disables crafting recipes of custom hammers that are enabled in this mod. Only deactivates the recipes, existing items will not be removed. Can be changed at runtime.
# Setting type: Boolean
# Default value: true
Disable Hammer Recipes = true

[ClayBuildPieces _HammerPieceTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = ClayBuildPieces

Category Name Crafting = Crafting

Category Name Clay Build = Clay Build

Category Name Furniture = Decorative

Category Name Misc = Decorative

[CoreWoodPieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = CoreWoodPieces

Category Name Exotic Wood = CoreWoodPieces Exotic Wood

[CrystalLights _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = CrystalLights

Category Name Crystal Lights = Crystal Lights

[CustomShips _HammerPieceTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = CustomShips

Category Name Ship = Misc

[FineWoodBuildPieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = FineWoodBuildPieces

Category Name Exotic Wood = FineWoodBuildPieces Exotic Wood

Category Name Decorative = FineWoodBuildPieces Decorative

[FineWoodFurnitures _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = FineWoodFurnitures

Category Name Decorative = FineWoodFurnitures Decorative

[GlassPieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = GlassPieces

Category Name Glass Build = GlassPieces Glass Build

Category Name Crafting = GlassPieces Crafting

[HalloweenPieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = HalloweenPieces

Category Name Haunted Build = HalloweenPieces Haunted Build

[HalloweenPieces BHP_HalloweenPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = HalloweenPieces

Category Name Misc = HalloweenPieces Misc

[Jewelcrafting _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Jewelcrafting

Category Name Crafting = Jewelcrafting Crafting

[MagicRevamp _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MagicRevamp

Category Name Crafting = MagicRevamp Crafting

[MarketStall _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MarketStall

Category Name Misc = MarketStall Misc

[OdinArchitect _HammerPieceTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = OdinArchitect

Category Name Pieces = Alt Building

Category Name Doors = Engineering

Category Name Decors = Furniture

Category Name Big = Alt Heavy

Category Name Dvergr = Alt Heavy

Category Name Furniture = OdinArchitect Furniture

Category Name Engineering = OdinArchitect Engineering

[OdinsHares _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinsHares

Category Name Furniture = OdinsHares Furniture

Category Name Misc = OdinsHares Furniture

[OdinsSteelworks _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinsSteelworks

Category Name Crafting = OdinsSteelworks Crafting

Category Name Furniture = OdinsSteelworks Furniture

[RefinedStonePieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = RefinedStonePieces

Category Name Refined Stone = RefinedStonePieces Refined Stone

[RuneMagic _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

[RuneMagic _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

Category Name Crafting = RuneMagic Crafting

Category Name BuildingWorkbench = RuneMagic BuildingWorkbench

[SimpleElevators _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = SimpleElevators

Category Name Engineering = SimpleElevators Engineering

[Soulcatcher _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Soulcatcher

Category Name Furniture = Soulcatcher Furniture

Category Name Crafting = Soulcatcher Crafting

[Valheim Enchantment System _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Valheim Enchantment System

Category Name Crafting = Valheim Enchantment System Crafting

[Vanilla _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name Misc = Misc

Category Name Crafting = Crafting

Category Name BuildingWorkbench = BuildingWorkbench

Category Name BuildingStonecutter = BuildingStonecutter

Category Name Furniture = Furniture

Category Name Decorative = Decorative

[Vanilla _HammerPieceTable2]

Enable Hammer = true

Combine Categories = false

Combined Category Name = Vanilla

[Vanilla _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name BuildingStonecutter = BuildingStonecutter

[WhiteMarble _HammerPieceTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = WhiteMarble

Category Name WhiteMarble = Alt Heavy

