## Settings file was created by plugin Graceful Landing v1.0.6.0
## Plugin GUID: dev.crystal.gracefullanding

[Falling]

## The minimum distance you must fall to receive any fall damage. Allowed range 1-10000. Game default 4.
# Setting type: Single
# Default value: 8
MinDamageHeight = 8

## The minimum distance you must to receive maximum fall damage. Allowed range 1-10000. Must be equal to or higher than MinDamageHeight. Game default 16.
# Setting type: Single
# Default value: 64
MaxDamageHeight = 64

## The maximum fall damage that can be received. Allowed range 0-10000. Game default 100.
# Setting type: Single
# Default value: 100
MaxDamageAmount = 300

