## Settings file was created by plugin DPS v1.6
## Plugin GUID: dps

[DPS]

## Show DPS meter (toggle with P button in the game)
# Setting type: Boolean
# Default value: false
Show DPS meter = false

## Show experience meter (toggle with L button in the game)
# Setting type: Boolean
# Default value: false
Show experience meter = false

## Overrides skill level checks (-1 to disable).
# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 100
Override skill levels = -1

## Overrides player damage range (15 to disable).
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 0 to 40
Min/max damage range for players = 15

## Overrides creature damage range (25 to disable).
# Setting type: Int32
# Default value: 25
# Acceptable value range: From 0 to 100
Min/max damage range for creatures = 25

## Caps the attack chains for easier testing (-1 to disable).
# Setting type: Int32
# Default value: -1
# Acceptable value range: From -1 to 5
Maximum attack chain levels = -1

## Set true to disable stamina usage.
# Setting type: Boolean
# Default value: false
No stamina usage = false

## Automatically fires the bow when fully drawn.
# Setting type: Boolean
# Default value: false
Auto fire bow = false

