#########################################
# Coins drop list (200-209)
[DefaultCoinDrops.200]
PrefabName = Coins
SetAmountMin = 1
SetAmountMax = 3
ConditionDistanceToCenterMin=0
ConditionDistanceToCenterMax=1500
SetChanceToDrop = 25

[DefaultCoinDrops.201]
PrefabName = Coins
SetAmountMin = 3
SetAmountMax = 5
ConditionDistanceToCenterMin=1500
ConditionDistanceToCenterMax=3000
SetChanceToDrop = 25

[DefaultCoinDrops.202]
PrefabName = Coins
SetAmountMin = 5
SetAmountMax = 8
ConditionDistanceToCenterMin=3000
ConditionDistanceToCenterMax=4500
SetChanceToDrop = 25

[DefaultCoinDrops.203]
PrefabName = Coins
SetAmountMin = 7
SetAmountMax = 10
ConditionDistanceToCenterMin=4500
ConditionDistanceToCenterMax=6000
SetChanceToDrop = 25

[DefaultCoinDrops.204]
PrefabName = Coins
SetAmountMin = 9
SetAmountMax = 13
ConditionDistanceToCenterMin=6000
ConditionDistanceToCenterMax=7500
SetChanceToDrop = 25

[DefaultCoinDrops.205]
PrefabName = Coins
SetAmountMin = 11
SetAmountMax = 15
ConditionDistanceToCenterMin=7500
ConditionDistanceToCenterMax=9000
SetChanceToDrop = 25

[DefaultCoinDrops.206]
PrefabName = Coins
SetAmountMin = 13
SetAmountMax = 18
ConditionDistanceToCenterMin=9000
SetChanceToDrop = 25

#########################################
# Gems drop list (210-219)
[DefaultGemDrops.210]
PrefabName = Uncut_Black_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.211]
PrefabName = Uncut_Blue_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.212]
PrefabName = Uncut_Red_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.213]
PrefabName = Uncut_Yellow_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.214]
PrefabName = Uncut_Green_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.215]
PrefabName = Uncut_Purple_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.216]
PrefabName = Uncut_Orange_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.217]
PrefabName = Uncut_Cyan_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.218]
PrefabName = Uncut_blueish_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10

[DefaultGemDrops.219]
PrefabName = Uncut_redish_Stone
SetAmountMin = 1
SetAmountMax = 3
SetChanceToDrop = 10
