## Settings file was created by plugin Templeton Temples v0.2.2
## Plugin GUID: horemvore.TempletonTemples

[1 Constuction Kit]

## Admin only, Enables this mod.
# Setting type: Boolean
# Default value: true
Enable = true

[2 Localization]

## Enable or Disable the hardcoded English localization.
# Setting type: Boolean
# Default value: false
Disable = false

[2 Temple Dungeon]

## Admin only, Enables the Temple Dungeon and Props.
# Setting type: Boolean
# Default value: true
Enable = true

[99 Logging]

## Enables logging.
# Setting type: Boolean
# Default value: false
Enable = false

