## Settings file was created by plugin Graceful Teleportation v1.0.1
## Plugin GUID: org.bepinex.plugins.gracefulteleportation

[1 - General]

## If on, the configuration is locked and can be changed by server admins only.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## Maximum time the grace period lasts in seconds.
# Setting type: Int32
# Default value: 60
# Acceptable value range: From 1 to 300
Grace Duration = 10

