## Settings file was created by plugin ColorBubble v1.0.3
## Plugin GUID: org.ssmvc.colorbubble

[_Global]

## Globally enable or disable this mod.
# Setting type: Boolean
# Default value: true
isModEnabled = true

[Color]

## Enable or disable the bubble color
# Setting type: Boolean
# Default value: true
Enable Bubble Color = true

# Setting type: Color
# Default value: FF000080
Bubble Color = 000000FF

[Misc]

## Show remaining bubble integrity
# Setting type: Boolean
# Default value: true
Show Bubble Percent = true

## Show remaining bubble hit points
# Setting type: Boolean
# Default value: false
Show Bubble HitPoints = false

## Show bubble damage taken
# Setting type: Boolean
# Default value: true
Show Bubble Hits = true

## Do not apply bubble colors to other player/creature bubbles
# Setting type: Boolean
# Default value: false
Self Only = false

[Shader]

## Wavy Speed
# Setting type: Single
# Default value: 5
ShaderVelocity = 0

## Bubble Distortion
# Setting type: Single
# Default value: 0.1
ShaderRefraction = 0

## Bubble Glossiness
# Setting type: Single
# Default value: 0.8
ShaderGlossiness = 1

## Bubble Metallic
# Setting type: Single
# Default value: 1
ShaderMetallic = 0

## Makes bubble more smoother
# Setting type: Boolean
# Default value: false
DisableTexture = false

