## Settings file was created by plugin ReportCard v1.0.0
## Plugin GUID: redseiko.valheim.reportcard

[_Global]

## Globally enable or disable this mod (restart required).
# Setting type: Boolean
# Default value: true
isModEnabled = true

[StatsPanel]

## If set, opens the StatsPanel on the Character Select screen.
# Setting type: Boolean
# Default value: true
openStatsPanelOnCharacterSelect = false

