## Settings file was created by plugin CustomBanners v1.0.7
## Plugin GUID: RustyMods.CustomBanners

[piece_banner_bear]

## Set the display name [Synced with Server]
# Setting type: String
# Default value: Banner Bear
Display Name = Banner Bear

## Set description [Synced with Server]
# Setting type: String
# Default value: 
Description = 

## Set banner category [Synced with Server]
# Setting type: PieceCategory
# Default value: Furniture
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Max, All, CollectorSeries, ClayBuildPieces, Clay Build, CoreWoodPieces, CoreWoodFence, Exotic Wood, FineWoodFence, FineWoodPieces, Decorative, GlassPieces-Iron, GlassPieces-Copper, Glass Build, Haunted Build, RefinedStonePieces, Refined Stone, SimpleElevators, Engineering, Crystal Lights, Pieces, Doors, Decors, Big, Dvergr, WhiteMarble, Alt Building, Rusty Pieces, Rusty Props, Alt Heavy, OdinArchitect Misc
Category = Furniture

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: FineWood
0 - Ingredient Name = FineWood

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
0 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
0 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: LeatherScraps
1 - Ingredient Name = LeatherScraps

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
1 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
1 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Coal
2 - Ingredient Name = Coal

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 4
2 - Ingredient Amount = 4

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
2 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Chitin
3 - Ingredient Name = Chitin

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
3 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
3 - Ingredient Recover = On

[piece_banner_celtic_tree]

## Set the display name [Synced with Server]
# Setting type: String
# Default value: Banner Celtic Tree
Display Name = Banner Celtic Tree

## Set description [Synced with Server]
# Setting type: String
# Default value: 
Description = 

## Set banner category [Synced with Server]
# Setting type: PieceCategory
# Default value: Furniture
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Max, All, CollectorSeries, ClayBuildPieces, Clay Build, CoreWoodPieces, CoreWoodFence, Exotic Wood, FineWoodFence, FineWoodPieces, Decorative, GlassPieces-Iron, GlassPieces-Copper, Glass Build, Haunted Build, RefinedStonePieces, Refined Stone, SimpleElevators, Engineering, Crystal Lights, Pieces, Doors, Decors, Big, Dvergr, WhiteMarble, Alt Building, Rusty Pieces, Rusty Props, Alt Heavy, OdinArchitect Misc
Category = Furniture

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: FineWood
0 - Ingredient Name = FineWood

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
0 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
0 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: LeatherScraps
1 - Ingredient Name = LeatherScraps

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
1 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
1 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Coal
2 - Ingredient Name = Coal

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 4
2 - Ingredient Amount = 4

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
2 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Chitin
3 - Ingredient Name = Chitin

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
3 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
3 - Ingredient Recover = On

[piece_banner_norse]

## Set the display name [Synced with Server]
# Setting type: String
# Default value: Banner Norse
Display Name = Banner Norse

## Set description [Synced with Server]
# Setting type: String
# Default value: 
Description = 

## Set banner category [Synced with Server]
# Setting type: PieceCategory
# Default value: Furniture
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Max, All, CollectorSeries, ClayBuildPieces, Clay Build, CoreWoodPieces, CoreWoodFence, Exotic Wood, FineWoodFence, FineWoodPieces, Decorative, GlassPieces-Iron, GlassPieces-Copper, Glass Build, Haunted Build, RefinedStonePieces, Refined Stone, SimpleElevators, Engineering, Crystal Lights, Pieces, Doors, Decors, Big, Dvergr, WhiteMarble, Alt Building, Rusty Pieces, Rusty Props, Alt Heavy, OdinArchitect Misc
Category = Furniture

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: FineWood
0 - Ingredient Name = FineWood

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
0 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
0 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: LeatherScraps
1 - Ingredient Name = LeatherScraps

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
1 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
1 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Coal
2 - Ingredient Name = Coal

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 4
2 - Ingredient Amount = 4

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
2 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Chitin
3 - Ingredient Name = Chitin

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
3 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
3 - Ingredient Recover = On

[piece_banner_sun]

## Set the display name [Synced with Server]
# Setting type: String
# Default value: Banner Sun
Display Name = Banner Sun

## Set description [Synced with Server]
# Setting type: String
# Default value: 
Description = 

## Set banner category [Synced with Server]
# Setting type: PieceCategory
# Default value: Furniture
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Max, All, CollectorSeries, ClayBuildPieces, Clay Build, CoreWoodPieces, CoreWoodFence, Exotic Wood, FineWoodFence, FineWoodPieces, Decorative, GlassPieces-Iron, GlassPieces-Copper, Glass Build, Haunted Build, RefinedStonePieces, Refined Stone, SimpleElevators, Engineering, Crystal Lights, Pieces, Doors, Decors, Big, Dvergr, WhiteMarble, Alt Building, Rusty Pieces, Rusty Props, Alt Heavy, OdinArchitect Misc
Category = Furniture

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: FineWood
0 - Ingredient Name = FineWood

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
0 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
0 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: LeatherScraps
1 - Ingredient Name = LeatherScraps

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
1 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
1 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Coal
2 - Ingredient Name = Coal

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 4
2 - Ingredient Amount = 4

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
2 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Chitin
3 - Ingredient Name = Chitin

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
3 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
3 - Ingredient Recover = On

[piece_banner_yggdrasil]

## Set the display name [Synced with Server]
# Setting type: String
# Default value: Banner Yggdrasil
Display Name = Banner Yggdrasil

## Set description [Synced with Server]
# Setting type: String
# Default value: 
Description = 

## Set banner category [Synced with Server]
# Setting type: PieceCategory
# Default value: Furniture
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Max, All, CollectorSeries, ClayBuildPieces, Clay Build, CoreWoodPieces, CoreWoodFence, Exotic Wood, FineWoodFence, FineWoodPieces, Decorative, GlassPieces-Iron, GlassPieces-Copper, Glass Build, Haunted Build, RefinedStonePieces, Refined Stone, SimpleElevators, Engineering, Crystal Lights, Pieces, Doors, Decors, Big, Dvergr, WhiteMarble, Alt Building, Rusty Pieces, Rusty Props, Alt Heavy, OdinArchitect Misc
Category = Furniture

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: FineWood
0 - Ingredient Name = FineWood

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
0 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
0 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: LeatherScraps
1 - Ingredient Name = LeatherScraps

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
1 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
1 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Coal
2 - Ingredient Name = Coal

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 4
2 - Ingredient Amount = 4

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
2 - Ingredient Recover = On

## Ingredient prefab name [Synced with Server]
# Setting type: String
# Default value: Chitin
3 - Ingredient Name = Chitin

## Set the amount needed to craft [Synced with Server]
# Setting type: Int32
# Default value: 2
3 - Ingredient Amount = 2

## If on, upon destroy, player recovers resource ingredient [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
3 - Ingredient Recover = On

