## Settings file was created by plugin CustomBanners v1.0.9
## Plugin GUID: RustyMods.CustomBanners

[Banner Bear]

## Build Category where Banner Bear is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Banners
Custom Build Category = Furniture

## Comma separated list of tools where Banner Bear is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Banner Bear is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Banner Bear
# Setting type: String
# Default value: FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True
Crafting Costs = FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True

[Banner Celtic Tree]

## Build Category where Banner Celtic Tree is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Banners
Custom Build Category = Furniture

## Comma separated list of tools where Banner Celtic Tree is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Banner Celtic Tree is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Banner Celtic Tree
# Setting type: String
# Default value: FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True
Crafting Costs = FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True

[Banner Norse]

## Build Category where Banner Norse is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Banners
Custom Build Category = Furniture

## Comma separated list of tools where Banner Norse is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Banner Norse is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Banner Norse
# Setting type: String
# Default value: FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True
Crafting Costs = FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True

[Banner Sun]

## Build Category where Banner Sun is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Banners
Custom Build Category = Furniture

## Comma separated list of tools where Banner Sun is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Banner Sun is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Banner Sun
# Setting type: String
# Default value: FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True
Crafting Costs = FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True

[Banner Yggdrasil]

## Build Category where Banner Yggdrasil is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: Banners
Custom Build Category = Furniture

## Comma separated list of tools where Banner Yggdrasil is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Banner Yggdrasil is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Banner Yggdrasil
# Setting type: String
# Default value: FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True
Crafting Costs = FineWood:2:True,LeatherScraps:2:True,Coal:4:True,Chitin:2:True

