## Settings file was created by plugin SeasonalTweaks v1.1.1
## Plugin GUID: RustyMods.SeasonalTweaks

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[BCA_ChiliPepperPlant]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[BCA_ChiliPepperSapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 5000

1 - Spring Grow Time Max = 6000

1 - Spring Grows = On

1 - Spring Min Scale = 0.8

1 - Spring Max Scale = 1

2 - Summer Grow Time = 5000

2 - Summer Grow Time Max = 6000

2 - Summer Grows = On

2 - Summer Min Scale = 0.8

2 - Summer Max Scale = 1

3 - Fall Grow Time = 5000

3 - Fall Grow Time Max = 6000

3 - Fall Grows = On

3 - Fall Min Scale = 0.8

3 - Fall Max Scale = 1

4 - Winter Grow Time = 5000

4 - Winter Grow Time Max = 6000

4 - Winter Grows = On

4 - Winter Min Scale = 0.8

4 - Winter Max Scale = 1

[BCA_TomatoPlant]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[BCA_TomatoSapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 5000

1 - Spring Grow Time Max = 6000

1 - Spring Grows = On

1 - Spring Min Scale = 0.7

1 - Spring Max Scale = 0.9

2 - Summer Grow Time = 5000

2 - Summer Grow Time Max = 6000

2 - Summer Grows = On

2 - Summer Min Scale = 0.7

2 - Summer Max Scale = 0.9

3 - Fall Grow Time = 5000

3 - Fall Grow Time Max = 6000

3 - Fall Grows = On

3 - Fall Min Scale = 0.7

3 - Fall Max Scale = 0.9

4 - Winter Grow Time = 5000

4 - Winter Grow Time Max = 6000

4 - Winter Grows = On

4 - Winter Min Scale = 0.7

4 - Winter Max Scale = 0.9

[BCA_Wild_ChiliPepper]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[BCA_Wild_Tomato]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Beech_Sapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 3000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.8

1 - Spring Max Scale = 1.5

2 - Summer Grow Time = 3000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.8

2 - Summer Max Scale = 1.5

3 - Fall Grow Time = 3000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.8

3 - Fall Max Scale = 1.5

4 - Winter Grow Time = 3000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.8

4 - Winter Max Scale = 1.5

[Birch_Sapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 5000

1 - Spring Grow Time Max = 7000

1 - Spring Grows = On

1 - Spring Min Scale = 0.5

1 - Spring Max Scale = 1

2 - Summer Grow Time = 5000

2 - Summer Grow Time Max = 7000

2 - Summer Grows = On

2 - Summer Min Scale = 0.5

2 - Summer Max Scale = 1

3 - Fall Grow Time = 5000

3 - Fall Grow Time Max = 7000

3 - Fall Grows = On

3 - Fall Min Scale = 0.5

3 - Fall Max Scale = 1

4 - Winter Grow Time = 5000

4 - Winter Grow Time Max = 7000

4 - Winter Grows = On

4 - Winter Min Scale = 0.5

4 - Winter Max Scale = 1

[Black_Crystal_Frame]

Available = Summer

Haldor Price = 1000

[Blue_Crystal_Frame]

Available = Summer

Haldor Price = 1000

[BlueberryBush]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[BTM_DvergrMeadBase]

Available = Summer

Haldor Price = 1000

[BTM_HildirsMeadBase]

Available = Summer

Haldor Price = 1000

[BTM_KnarrMeadBase]

Available = Summer

Haldor Price = 1000

[BTM_OdinMeadBase]

Available = Summer

Haldor Price = 1000

[CloudberryBush]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[FirTree_Sapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 3000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 1

1 - Spring Max Scale = 2.5

2 - Summer Grow Time = 3000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 1

2 - Summer Max Scale = 2.5

3 - Fall Grow Time = 3000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 1

3 - Fall Max Scale = 2.5

4 - Winter Grow Time = 3000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 1

4 - Winter Max Scale = 2.5

[Fish]

Winter Interactable = Off

[HelmetMidsummerCrown]

Available = Summer

Haldor Price = 1000

[HelmetPointyHat]

Available = Summer

Haldor Price = 1000

[JC_Blessed_Crystal_Mirror]

Available = Summer

Haldor Price = 1000

[JC_Celestial_Crystal_Mirror]

Available = Summer

Haldor Price = 1000

[JC_Common_Gembox]

Available = Summer

Haldor Price = 1000

[JC_Epic_Gembox]

Available = Summer

Haldor Price = 1000

[JC_Legendary_Gembox]

Available = Summer

Haldor Price = 1000

[JC_Orb_of_Divinity]

Available = Summer

Haldor Price = 1000

[JC_Ring_Purple]

Available = Summer

Haldor Price = 1000

[Oak_Sapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 6000

1 - Spring Grow Time Max = 8000

1 - Spring Grows = On

1 - Spring Min Scale = 0.7

1 - Spring Max Scale = 0.9

2 - Summer Grow Time = 6000

2 - Summer Grow Time Max = 8000

2 - Summer Grows = On

2 - Summer Min Scale = 0.7

2 - Summer Max Scale = 0.9

3 - Fall Grow Time = 6000

3 - Fall Grow Time Max = 8000

3 - Fall Grows = On

3 - Fall Min Scale = 0.7

3 - Fall Max Scale = 0.9

4 - Winter Grow Time = 6000

4 - Winter Grow Time Max = 8000

4 - Winter Grows = On

4 - Winter Min Scale = 0.7

4 - Winter Max Scale = 0.9

[Pickable_Carrot]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_Fiddlehead]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_Mushroom]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_Mushroom_blue]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_Mushroom_JotunPuffs]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_Mushroom_Magecap]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_Mushroom_yellow]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_Onion]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[Pickable_RoyalJelly]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 5

1 - Spring Interactable = On

2 - Summer Amount = 5

2 - Summer Interactable = On

3 - Fall Amount = 5

3 - Fall Interactable = On

4 - Winter Amount = 5

4 - Winter Interactable = On

[Pickable_SmokePuff]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[PickaxeStone]

Available = Summer

Haldor Price = 1000

[piece_beehive]

1 - Spring Interactable = On

1 - Spring Max Honey = 4

2 - Summer Interactable = On

2 - Summer Max Honey = 4

3 - Fall Interactable = On

3 - Fall Max Honey = 4

4 - Winter Interactable = On

4 - Winter Max Honey = 4

[PineTree_Sapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 3000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 1.5

1 - Spring Max Scale = 2.5

2 - Summer Grow Time = 3000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 1.5

2 - Summer Max Scale = 2.5

3 - Fall Grow Time = 3000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 1.5

3 - Fall Max Scale = 2.5

4 - Winter Grow Time = 3000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 1.5

4 - Winter Max Scale = 2.5

[QueenBee]

Available = Summer

Haldor Price = 1000

[RaspberryBush]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 1

1 - Spring Interactable = On

2 - Summer Amount = 1

2 - Summer Interactable = On

3 - Fall Amount = 1

3 - Fall Interactable = On

4 - Winter Amount = 1

4 - Winter Interactable = On

[sapling_barley]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_carrot]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_flax]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_jotunpuffs]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_magecap]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_onion]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_seedcarrot]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_seedonion]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_seedturnip]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[sapling_turnip]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 4000

1 - Spring Grow Time Max = 5000

1 - Spring Grows = On

1 - Spring Min Scale = 0.9

1 - Spring Max Scale = 1.1

2 - Summer Grow Time = 4000

2 - Summer Grow Time Max = 5000

2 - Summer Grows = On

2 - Summer Min Scale = 0.9

2 - Summer Max Scale = 1.1

3 - Fall Grow Time = 4000

3 - Fall Grow Time Max = 5000

3 - Fall Grows = On

3 - Fall Min Scale = 0.9

3 - Fall Max Scale = 1.1

4 - Winter Grow Time = 4000

4 - Winter Grow Time Max = 5000

4 - Winter Grows = On

4 - Winter Min Scale = 0.9

4 - Winter Max Scale = 1.1

[THSwordKrom]

Available = Summer

Haldor Price = 1000

[VineAsh]

Foraging Override = 50

Farming Override = 50

1 - Spring Amount = 3

1 - Spring Interactable = On

2 - Summer Amount = 3

2 - Summer Interactable = On

3 - Fall Amount = 3

3 - Fall Interactable = On

4 - Winter Amount = 3

4 - Winter Interactable = On

[VineAsh_sapling]

Foraging Override = 50

Farming Override = 50

Destroy If Cannot Grow = Off

1 - Spring Grow Time = 200

1 - Spring Grow Time Max = 300

1 - Spring Grows = On

1 - Spring Min Scale = 1

1 - Spring Max Scale = 1

2 - Summer Grow Time = 200

2 - Summer Grow Time Max = 300

2 - Summer Grows = On

2 - Summer Min Scale = 1

2 - Summer Max Scale = 1

3 - Fall Grow Time = 200

3 - Fall Grow Time Max = 300

3 - Fall Grows = On

3 - Fall Min Scale = 1

3 - Fall Max Scale = 1

4 - Winter Grow Time = 200

4 - Winter Grow Time Max = 300

4 - Winter Grows = On

4 - Winter Min Scale = 1

4 - Winter Max Scale = 1

