## Settings file was created by plugin Welcome v1.0.1
## Plugin GUID: RustyMods.Welcome

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2 - Settings]

## If on, plugin overrides introductions [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
0 - Enabled = On

## If on, plugin will always show introduction upon log in [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Always Show Intro = Off

## If on, plugin will load and use custom image [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Background = On

## If on, background darken overlay will be applied [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Use Background Overlay = On

## Set the file name plugin should look for to use as custom background. Needs to be inside [BepinEx/config/Welcome] folder [Synced with Server]
# Setting type: String
# Default value: 
Custom Background File name = Morjake.png

