## Settings file was created by plugin Quickstep v1.0.10
## Plugin GUID: shudnal.Quickstep

[General]

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 2547
NexusID = 2547

## Enable the mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Configuration is locked and can be changed by server admins only.
# Setting type: Boolean
# Default value: true
Lock Configuration = true

## Enable logging for debug events. [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Logging enabled = false

[Quickstep]

## Quickstep force factor.
# Setting type: Single
# Default value: 50
Dash force = 50

## Quickstep time.
# Setting type: Single
# Default value: 0.25
Dash time = 0.25

## Quickstep invincibility time when you're equipping a shield. If you're not equipping a shield quickstep grant invincibility for all its duration.
# Setting type: Single
# Default value: 0.15
Invincibility time with shield = 0.25

## Time in seconds you can not dash again.
# Setting type: Single
# Default value: 0.5
Quickstep cooldown = 0.3

## Multiplier of how much less stamina you will use on quickstep than dodge stamina usage.
# Setting type: Single
# Default value: 0.6
Stamina usage multiplier = 0.5

## Double click dodge button to perform regular dodge.
# Setting type: Boolean
# Default value: true
Dodge on double click = true

[Weapons]

## Perform quickstep instead of dodging while not using any weapon
# Setting type: Boolean
# Default value: false
Allow quickstep with bare fists = false

## Perform quickstep instead of dodging while using Swords
# Setting type: Boolean
# Default value: false
Allow quickstep with Swords = true

## Perform quickstep instead of dodging while using Knives
# Setting type: Boolean
# Default value: true
Allow quickstep with Knives = true

## Perform quickstep instead of dodging while using Clubs
# Setting type: Boolean
# Default value: false
Allow quickstep with Clubs = true

## Perform quickstep instead of dodging while using Polearms
# Setting type: Boolean
# Default value: false
Allow quickstep with Polearms = true

## Perform quickstep instead of dodging while using Spears
# Setting type: Boolean
# Default value: false
Allow quickstep with Spears = true

## Perform quickstep instead of dodging while using Axes
# Setting type: Boolean
# Default value: false
Allow quickstep with Axes = true

## Perform quickstep instead of dodging while using Bows
# Setting type: Boolean
# Default value: false
Allow quickstep with Bows = false

## Perform quickstep instead of dodging while using ElementalMagic staff
# Setting type: Boolean
# Default value: false
Allow quickstep with ElementalMagic = false

## Perform quickstep instead of dodging while using BloodMagic staff
# Setting type: Boolean
# Default value: false
Allow quickstep with BloodMagic = false

## Perform quickstep instead of dodging while using Unarmed
# Setting type: Boolean
# Default value: true
Allow quickstep with Unarmed = true

## Perform quickstep instead of dodging while using Pickaxes
# Setting type: Boolean
# Default value: false
Allow quickstep with Pickaxes = true

## Perform quickstep instead of dodging while using Crossbows
# Setting type: Boolean
# Default value: false
Allow quickstep with Crossbows = false

## Perform quickstep instead of dodging while using weapon from list
# Setting type: Boolean
# Default value: false
Allow quickstep with custom weapon list = true

[Weapons - Details]

## Dash force while not using any weapon. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with bare fists = 0

## Dash time while not using any weapon. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with bare fists = 0

## Dash force while using Swords. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Swords = 0

## Dash time while using Swords. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Swords = 0

## Dash force while using Knives. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Knives = 70

## Dash time while using Knives. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Knives = 0

## Dash force while using Clubs. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Clubs = 0

## Dash time while using Clubs. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Clubs = 0

## Dash force while using Polearms. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Polearms = 60

## Dash time while using Polearms. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Polearms = 0

## Dash force while using Spears. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Spears = 0

## Dash time while using Spears. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Spears = 0

## Dash force while using Axes. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Axes = 0

## Dash time while using Axes. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Axes = 0

## Dash force while using Bows. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Bows = 0

## Dash time while using Bows. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Bows = 0

## Dash force while using ElementalMagic staff. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with ElementalMagic = 0

## Dash time while using ElementalMagic staff. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with ElementalMagic = 0

## Dash force while using BloodMagic staff. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with BloodMagic = 0

## Dash time while using BloodMagic staff. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with BloodMagic = 0

## Dash force while using Unarmed. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Unarmed = 0

## Dash time while using Unarmed. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Unarmed = 0

## Dash force while using Pickaxes. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Pickaxes = 0

## Dash time while using Pickaxes. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Pickaxes = 0

## Dash force while using Crossbows. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Crossbows = 0

## Dash time while using Crossbows. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Crossbows = 0

## Dash force while using prefabs from custom list. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash force with Custom prefabs = 0

## Dash time while using prefabs from custom list. Set 0 to use default value.
# Setting type: Single
# Default value: 0
Dash time with Custom prefabs = 0

[Weapons - Prefabs]

## Comma-separated list of prefabs to use dash force and time from BareFists config
# Setting type: String
# Default value: 
Prefab list to use Bare fists config = 

## Comma-separated list of prefabs to use dash force and time from Swords config
# Setting type: String
# Default value: 
Prefab list to use Swords config = T3_Reaper,T4_Reaper,T5_Reaper,T6_Reaper,T7_Reaper,T8_Reaper,CWS_TH_Sword_11_SH,CWS_TH_Sword_11_SH_DNRL

## Comma-separated list of prefabs to use dash force and time from Knives config
# Setting type: String
# Default value: 
Prefab list to use Knives config = CWS_TH_Sword_8_SH,CWS_TH_Sword_8_SH_DNRL

## Comma-separated list of prefabs to use dash force and time from Clubs config
# Setting type: String
# Default value: 
Prefab list to use Clubs config = BMR_WoodenWand,BMR_EmberWand,BMR_RootWand,BMR_CrystalWand,BMR_CursedWand,BMR_ElvenWand,BMR_AncientWand,WandCelestial_SH

## Comma-separated list of prefabs to use dash force and time from Polearms config
# Setting type: String
# Default value: 
Prefab list to use Polearms config = 

## Comma-separated list of prefabs to use dash force and time from Spears config
# Setting type: String
# Default value: 
Prefab list to use Spears config = CWS_Bow_8_SH,CWS_Bow_10_SH,CWS_Bow_3_SH,CWS_Bow_1_SH,CWS_Bow_2_SH,CWS_Bow_6_SH,JC_Reaper_Bow,CWS_Bow_11_SH,BBP_BoneBow_SH,CWS_Bow_11_SH_DNRL,BBP_BoneBow_SH_DNRL

## Comma-separated list of prefabs to use dash force and time from Axes config
# Setting type: String
# Default value: 
Prefab list to use Axes config = 

## Comma-separated list of prefabs to use dash force and time from Bows config
# Setting type: String
# Default value: 
Prefab list to use Bows config = 

## Comma-separated list of prefabs to use dash force and time from ElementalMagic config
# Setting type: String
# Default value: 
Prefab list to use ElementalMagic config = 

## Comma-separated list of prefabs to use dash force and time from BloodMagic config
# Setting type: String
# Default value: 
Prefab list to use BloodMagic config = 

## Comma-separated list of prefabs to use dash force and time from Unarmed config
# Setting type: String
# Default value: 
Prefab list to use Unarmed config = 

## Comma-separated list of prefabs to use dash force and time from Pickaxes config
# Setting type: String
# Default value: 
Prefab list to use Pickaxes config = 

## Comma-separated list of prefabs to use dash force and time from Crossbows config
# Setting type: String
# Default value: 
Prefab list to use Crossbows config = 

## Comma-separated list of prefabs to use dash force and time from CustomPrefabs config
# Setting type: String
# Default value: 
Prefab list to use Custom prefabs config = 

