## Settings file was created by plugin Blackforest_Pack_2 v1.1.5
## Plugin GUID: warpalicious.Blackforest_Pack_2

[1 - ForestForge1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

[10 - GuardTower1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 5
Spawn Quantity = 5

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures1
Name of Creature List = BlackforestCreatures1

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

[11 - RootRuins1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot1
Name of Loot List = BlackforestLoot1

[12 - RootsTower1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot2
Name of Loot List = BlackforestLoot2

[13 - RootsTower2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 10
Spawn Quantity = 10

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot2
Name of Loot List = BlackforestLoot2

[14 - StoneOutlook1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 10
Spawn Quantity = 10

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot1
Name of Loot List = BlackforestLoot1

[2 - ForestForge2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

[3 - ForestGreatHouse2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

[4 - ForestHouse2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

[5 - ForestRuin1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot1
Name of Loot List = BlackforestLoot1

[6 - ForestTower2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures1
Name of Creature List = BlackforestCreatures1

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

[7 - ForestTower3]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 20

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures1
Name of Creature List = BlackforestCreatures1

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

[8 - MassGrave1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot1
Name of Loot List = BlackforestLoot1

[9 - StoneFormation1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 15

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures3
Name of Creature List = BlackforestCreatures3

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot3
Name of Loot List = BlackforestLoot3

